:root {
    --blue: #032d6f;
    --red: #a60404;
    --lightblue:#8095b6;
    --lightred: #d18180; 
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


header{
    background-color: var(--blue);
    color: white;
    text-align: center;
    height: 80px;
}
header h1{
  padding-top: 20px;
}
footer{
    background-color: var(--blue);
    text-align: center;
    padding-bottom: 10px;
    color: white;
    bottom: 0;
    width: 100%;
}
footer p{
    padding: 20px 0;
}

form{
    display: flex;
    flex-direction: column;

    max-width: 500px;
    margin: 20px auto;
    background-color: #8095b6;
    padding: 30px;
    border-radius: 20px;
}
label{
  display: block;
}
input, select, textarea{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
label.checkbox-inline {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: 12px;
}
input[type="checkbox"]{
    width: auto;
    margin-right: 0;
    align-self: center;
    display: inline-block;
}
input[type="submit"]{
    background-color: var(--blue);
    color: white;
    border: none;
    cursor: pointer;
}
input[type="radio"] {
	display: none;
	position: relative;
	caret-color: rgba(0, 0, 0, 0);
}

.stars {
	display: flex;
	flex-direction: row-reverse;
	justify-content: left;
}

.stars > label {
	color: var(--blue);
	width: 30px;
	height: 30px;
	font-size: 2rem;
	margin: 5px 5px 5px 0;
	display: flex;
	align-items: center;
	caret-color: rgba(0, 0, 0, 0);
}

.stars > label:hover {
	color: #000;
}

.stars > label::before {
	content: "\2606";
}

.stars input:checked ~ label::before {
	content: "\2605";
}

button[type="submit"] {
    background-color: var(--blue);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1rem;
    border-radius: 4px;
} 