/* General Styles */
:root {
    --blue: #032d6f;
    --red: #a60404;
    --lightblue:#8095b6;
    --lightred: #d18180; 
}
*{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1, h2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 30px 0 10px 0;
}
h2{
    color: var(--red)
}

/* Header and Footer Styles */
header{
    background-color: var(--blue);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}
footer{
    background-color: var(--blue);
    text-align: center;
    padding-bottom: 10px;
    color: white;
    width: 100%;
}
footer p{
    padding: 10px 0;
    justify-content: center;
    display: flex;
}
footer a{
    color: var(--lightblue);
    text-decoration: none;
    font-weight: bold;
    padding-left: 5px;
}
#footer-plans, #footer-references{
    position: fixed;
    bottom: 0;
    left: 0;
}

/* Logo Styles */
.logo{
    height: 100px;
    padding: 10px 0 0 10px;
}
.logo:hover{
    transform: scale(1.2);
    transition: transform 0.5s;
}

/* Navigation Styles */
nav{
    display: flex;
    justify-content: flex-end;
}
nav ul{
    display: flex;
    gap: 50px;
    padding-right: 50px;
    list-style: none;
}
nav ul li a{
    color: var(--lightblue);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}
nav a:hover{
    color: white;
    border-bottom: #a60404 2px solid;
    padding-bottom: 5px;
}

/* Main Content Styles */
main{
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: justify;
}

main img{
    width: 100%;
    height: auto;
}
ul{
    padding-left: 20px;
}
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 0 20px 0;
}
figure img{
    max-width: 100%;
    height: auto;
}

/* Links */
main a{
    color: var(--blue);
    text-decoration: none;
}
main a:hover {
    color: var(--red)
}

/* About Page Styles */
.about-container{
    display: grid;
    grid-template-columns: 1fr; /* mobile: stack */
    gap: 50px;
    align-items: center;
}

.profile-photo{
    max-width: 100%;
    height: auto;
}

/* at larger widths put image left and text right */
@media (min-width: 800px) {
    .about-container{
        grid-template-columns: 40% 60%;
    }
    .about-image{
        text-align: center;
    }
    .about-text{
        padding: 20px;
        max-width: 42rem;
    }
}

/* form styles */
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-width: 500px;
}
form label{
    font-weight: bold;
}
form input, form textarea{
    padding: 10px;
    border: 1px solid var(--blue);
    border-radius: 5px;
}
form button{
    background-color: var(--blue);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}
