:root {
    --green: #009B3A;
    --yellow: #FEDF00;
    --blue: #002776;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
    padding: 0;
}

section li{
    padding-top: 10px;
}

header {
    background-color: var(--blue);
    border-bottom: var(--green) 20px solid;
    color: white;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: var(--blue);
    color: white;
    text-align: center;
    padding: 20px;
}

/* MOBILE VIEW */
@media screen and (max-width: 800px) { 

    picture img{
        width: 100%;
        height: auto;
        border-bottom: solid 10px var(--blue);
    }

    #data, #weather {
        width: 90%;
        margin: 20px auto;
        padding: 20px;
        text-align: center;
    }
    
    h2{
        font-size: 2rem;
        margin-bottom: 20px;
    }

    #weather-icon {
        display: block;
        width: 100px;
        height: auto;
        margin: 0 auto 20px auto;
    }

}

/* DESKTOP VIEW */
@media screen and (min-width: 801px) {

    img {
        display:block;
        width: 100%;
        height: auto;
    }

    #data{
        width: 300px;
        position: absolute;
        top: 100px;
        left: 20px;
        z-index: 1;
        background-color: var(--blue);
        color: white;
        opacity: 0.8;
        padding: 20px;
        margin: 20px 0 0 0;
    }

    #weather {
        width: 300px;
        position: absolute;
        bottom: 70px;
        right: 20px;
        z-index: 1;
        background-color: var(--blue);
        color: white;
        opacity: 0.8;
        padding: 20px;
        margin-top: 20px;
    }

    #weather-icon {
        display: none;
    }

    h2{
        position: absolute;
        top: 20px;
        left: -10px;
        padding: 10px 20px 10px 20px;
        background-color: var(--yellow);
        color: var(--blue);
        font-size: 1.5rem; 
    }

    #weather h2::after {
        content: " ⛅ ";
        font-size: 1.5rem;
    }

    section ul {
        margin: 50px 0 0 0;
        padding: 10px 20px; 
    }
}