@media (min-width: 600px) {
    #temple-photos{
        justify-content: space-around;
    }
    	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}
    .navigation li{
        display: block;
        flex: 1 1 100%;
        text-align: right;
    }
    #menu {
		display: none;
	}
    .navigation {
		flex-direction: row;
        justify-content: flex-end;
	}
	.navigation a {
		display: block;
		flex: 1 1 100%;
	}
}