*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
    background-color: lightskyblue;
    display:flex;
}
header h1{
    font-size: 2rem;
    margin: 30px auto;
}
ul{
    list-style-type: none;
    margin: 25px;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}
nav{
    max-width: 1200px;  
}
.navigation a{
    display: block;
    margin-right: auto;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.navigation a:hover{
    color: navy;
}
main{
    max-width: 1200px;
    margin: 1rem auto;
}
footer{
    background-color: lightskyblue;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#temple-photos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
img{
    max-width: 300px;
    height: auto;
    padding: 10px 20px 0 0;
    display: block;
    margin: 0 auto;
}
figcaption{
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}

/*mobile view*/

#menu {
	font-size: 2rem;
	border: 0;
	background: none;
	color: black;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}
#menu::before {
    content: "\2630"; /* Unicode for hamburger menu */
}
#menu.open::before {
    content: "\2715"; /* Unicode for close (X) icon */
}
.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
}
.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
}
.navigation.open a {
	display: block;
}